<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
</head>
<body>

<h1>Songs</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Year</th>
    </tr>
    <tr th:each="song : ${songs}">
        <td th:text="${song.id}">1</td>
        <td th:text="${song.title}">Lust For Life</td>
        <td th:text="${song.publisher}">Vevo</td>
        <td th:text="${song.year}">2021</td>
</table>

</body>
</html>